@use './vars' as *;

:root {
  font-family: $font;
}

body, html, #app {
  height: 100%;
  background: 
    radial-gradient(circle at 50% 0%, #3d57ff22, transparent),
    linear-gradient(to bottom, black, #170202);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 1rem;
}

.v-overlay__scrim {
  background: rgba(0, 0, 0, 0.5) !important;
  opacity: 1 !important;
  backdrop-filter: blur(10px) !important;
}